/*  assets/Fonts  */
/*  assets/Fonts  */
@font-face {
    font-family: 'raleway-regular';
    src: url('fonts/raleway-regular.eot');
    src: url('fonts/raleway-regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/raleway-regular.woff') format('woff'),
         url('fonts/raleway-regular.ttf') format('truetype'),
         url('fonts/raleway-regular.svg#raleway-regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'raleway-semibold';
    src: url('fonts/raleway-bold.eot');
    src: url('fonts/raleway-semibold.eot?#iefix') format('embedded-opentype'),
         url('fonts/raleway-semibold.woff') format('woff'),
         url('fonts/raleway-semibold.ttf') format('truetype'),
         url('fonts/raleway-semibold.svg#raleway-semibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'raleway-bold';
    src: url('fonts/raleway-bold.eot');
    src: url('fonts/raleway-bold.eot?#iefix') format('embedded-opentype'),
         url('fonts/raleway-bold.woff') format('woff'),
         url('fonts/raleway-bold.ttf') format('truetype'),
         url('fonts/raleway-bold.svg#raleway-bold') format('svg');
    font-weight: normal;
    font-style: normal;

}



body {
    background: #fff;
    margin: 0;
}


header{
    width: 100%;
    height: 100px;
    background-color: #FFFFFF; 
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); 
    z-index: 1000;
}

header .logo{
    float: left;
    margin-top: 20px;
    width:9%;
    margin-left: 30px;
	
}

header nav{
    float: right;
    margin-top: 40px;
    margin-right: 30px;
}


header nav ul li{
    list-style: none;
    display: block;
    float: left;
    margin-left: 50px;
}

header nav ul li a {
    text-decoration: none;  
    font-family: "raleway-bold";
    font-size: 14px;
    transition: all .2s linear;
    color: #346D85;
    font-weight: bold;
}

header nav ul li a:hover{
    color: #87CEEB;
}


main {
    margin-top: 25px;
}

main h1{
    font-family: "raleway-bold";
    margin-bottom: 0;
}

main p{
    font-family: "raleway-regular";
    font-size: 15px;
    margin-bottom: 40px;
}

main .titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .carro{
    width: 100%;
    height: auto;
    border-radius: 10px;
}

main .card{
    height: 450px;  
}

main .card-img-top{
    height: 250px;
}
main .card-title{
    margin-bottom: 15px;
}

footer {
    background-color: #FFFFFF; 
    box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.1); 
    width: 100%;
    height: 90px;
    z-index: 1000;
    position: relative; 
    margin-top: auto; 
}

.footer-icons {
    float: left;
    margin-left: 30px;
    margin-top: 45px;
}


.footer-icons img {
    width: 17px; 
    height: auto; 
    margin-right: 20px;
}

.footer-text {
    float: right;
    margin-right: 30px;
    margin-top: 45px;
}

.footer-text p {
    margin: 0;
    font-family: "raleway-bold";
    font-size: 14px;
    color: #346D85;
    font-weight: bold;
}

.cuerpo_principal{
    width: 100%;
    height: auto;
    margin: 0;
}

.img_fondo{
    width: 193vh;
    height: 85vh;
    background: url(/Medellin/assets/img_event/Logo\ festibales.jpeg) no-repeat center;
    background-size: cover;
    border-radius: 5vh;
    margin-top: 16vh;
    left: 5vh;
}

.content_img_fondo{
    display: flexbox;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5vh;
}

.titulo_evento{
    font-size: 60px;
    position: relative;
    top: 50%;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
}

.sub_titulo{
    margin: 5vh;
    font-size: 30px;
    text-align: center;
    font-family: "raleway-bold";
}

.cont_info_eventos{
    display: block;
    width: 100%;
    height: auto;    
    text-align: center;
    justify-content: center;
}

table{
    position: relative;
    width: 100%;
    height: auto;
    left: 0.5vh;
    margin-left: 6.5vh;
    margin-right: 1vh;
}

td{
    width: 33%;
    height: auto;
    text-align: center;
    justify-content: center;
    
}

.table-container {
    width: 49vh;
    height: 60vh;
    display: block;
    justify-content: center;
    align-items: center;
    /* border: 1vh solid black; */
    border-radius: 2vh;
    margin-bottom: 4vh;
}

.table-container table {
    width: 100%;
    height: auto;
}

.img_cont_1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.img_cont_1 img {
    max-width: 50vh;
    width: 100%;
    height: 40vh;
    max-height: auto;
    display: block;
    border-radius: 1vh;
}
.text_cont_1{
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    /* border-top: 1vh solid black; */
}