/*  assets/Fonts  */
@font-face {
    font-family: 'raleway-regular';
    src: url('fonts/raleway-regular.eot');
    src: url('fonts/raleway-regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/raleway-regular.woff') format('woff'),
         url('fonts/raleway-regular.ttf') format('truetype'),
         url('fonts/raleway-regular.svg#raleway-regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'raleway-semibold';
    src: url('fonts/raleway-bold.eot');
    src: url('fonts/raleway-semibold.eot?#iefix') format('embedded-opentype'),
         url('fonts/raleway-semibold.woff') format('woff'),
         url('fonts/raleway-semibold.ttf') format('truetype'),
         url('fonts/raleway-semibold.svg#raleway-semibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'raleway-bold';
    src: url('fonts/raleway-bold.eot');
    src: url('fonts/raleway-bold.eot?#iefix') format('embedded-opentype'),
         url('fonts/raleway-bold.woff') format('woff'),
         url('fonts/raleway-bold.ttf') format('truetype'),
         url('fonts/raleway-bold.svg#raleway-bold') format('svg');
    font-weight: normal;
    font-style: normal;

}

.icon{
    width: 1px;
    height: auto;
}

body {
    background: #fff;
    margin: 0;
}


header{
    width: 100%;
    height: 80px;
    background-color: #ffffff; 
    z-index: 1000;
}

header .logo{
    float: left;
    margin-top: 35px;
    width:10%;
    margin-left: 30px;
}

.header .logo:hover {
    transform: scale(1.1);
}

header nav{
    float: right;
    margin-top: 25px;
    margin-right: 30px;
}


header nav ul li{
    list-style: none;
    display: block;
    float: left;
    margin-left: 50px;
}

header nav ul li a {
    text-decoration: none;  
    font-family: "raleway-bold";
    font-size: 16px;
    transition: all .2s linear;
    color: #346D85;
    font-weight: bold;
}

header nav ul li a:hover{
    color: #87CEEB;
}


main {
    margin-top: 10px;
}



main .obj{
    margin-bottom: 0;
    font-family: "raleway-regular";
    font-size: 16px;
    text-align: center;
}

main .titulo{
    position: absolute;
    top: 86%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: start;
    color: #fff;
    padding: 14px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 98%;
}

.titulo h1 {
    font-family: "raleway-bold";
    font-size: 50px;
    margin-bottom: 0;
}

.titulo p {
    font-family: "raleway-regular";
    font-size: 18px;
    margin-bottom: 40px;
    text-align: start;
}

main .objetivo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
}

main h2, h3{
    font-family: "raleway-bold";
    margin-bottom: 5px;
}

.carousel {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 550px;
}

.carousel-container {
    display: flex;
    transition: transform 0.5s ease;
}

.slide {
    flex: 0 0 auto;
    width: 100%;
}

.slide img {
    width: 100%;
    height: auto;
}

.prev-btn, .next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.5);
    color: #000000;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 2;
    transition: background-color 0.3s;
}

.prev-btn {
    left: 0;
}

.next-btn {
    right: 0;
}

.prev-btn:hover,
.next-btn:hover {
    background-color: rgba(255, 255, 255, 0.7);
}


.acerca-de {
    text-align: center;
    padding: 20px 0;
    margin-left: 20px;
}

.contenido {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.texto {
    flex: 1;
    font-size: 16px;
}

.texto p{
    text-align:justify;
    font-family: "raleway-regular";
}

.multimedia, .testimonios {
    flex: 1;
}

.multimedia img {
    width: 50%;
    margin-bottom: 20px;
    border-radius: 10px;
}


.graphic-elements {
    background-color: #ffffff;
    padding: 30px;
    margin-top: 30px;
}

.graphic-elements .shapes {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}

.graphic-elements .shapes .shape {
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

.graphic-elements .lines {
    width: 100%;
    height: 2px;
    background-color: #4CAF50;
    margin-bottom: 0;
}


footer {
    background-color: #FFFFFF; 
    box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.1); 
    width: 100%;
    height: 90px;
    z-index: 1000;
    position: relative; 
    margin-top: auto; 
}

.footer-icons {
    float: left;
    margin-left: 30px;
    margin-top: 45px;
    transition: transform 0.3s;
}


.footer-icons img {
    width: 17px; 
    height: auto; 
    margin-right: 20px;
}

.footer-icons img:hover {
    transform: scale(1.2);
}

.footer-text {
    float: right;
    margin-right: 30px;
    margin-top: 45px;
}

.footer-text p {
    margin: 0;
    font-family: "raleway-bold";
    font-size: 14px;
    color: #346D85;
    font-weight: bold;
}
