<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link class="icon" rel="icon" type="image" href="../static/imagenes/icon.png"/>
    <link rel="stylesheet" href="{{url_for('static', filename='lugares.css')}}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="{{ url_for('static', filename='js/lugares.js') }}" async></script>
    <title>Lugares</title>


</head>
<body onload="obtenerLugares()">
    <header class="header">
        <a href="inicio"><img class="logo" src="{{url_for('static', filename='imagenes/logo.png')}}" alt="Medellin"/></a>
        <nav>
            <ul>
                <li><a href="eventos">Eventos</a></li>
                <li><a href="lugares">Lugares</a></li>
                <li><a href="actividades">Actividades</a></li>
                <li><a href="encuesta">Encuesta</a></li>
            </ul>
        </nav>
    </header> 

    <main>
        <div class="container align-items-center">
        <div class="titulo">
            <h1>Lugares para conocer Medellín</h1>
            <p>Conoce nuestra área metropolitana</p>
        </div>

        <div class="container">

            <div id="carouselExampleIndicators" class="carousel slide mt-4" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/static/imagenes/penon.jpg" alt="Imagen 1">
                    </div>
                    <div class="carousel-item">
                        <img src="/static/imagenes/PueblitoPaisa.jpg" alt="Imagen 2">
                    </div>
                    <div class="carousel-item">
                        <img src="/static/imagenes/COMUNA13principal.jpg" alt="Imagen 3">
                    </div>
                    <div class="carousel-item">
                        <img src="/static/imagenes/orquideorama-scaled.jpg" alt="Imagen 4">
                    </div>
                    <div class="carousel-item">
                        <img src="/static/imagenes/65cce1ae49fc2.jpeg" alt="Imagen 5">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Anterior</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Siguiente</span>
                </a>
            </div>
          
                <div class="titulo">
                    <h1 class="section-title">Lugares únicos para conocer en Medellín</h1>
                </div>

                <br>
                <div class="card-columns">
                    
                </div>
                <br> 

            </div>
           
    </main>
<br>

    

    <footer>
        <div class="footer-icons">
            <img src="{{url_for('static', filename='imagenes/fb.png')}}">
            <img src="{{url_for('static', filename='imagenes/in.png')}}">
            <img src="{{url_for('static', filename='imagenes/yt.png')}}">
            <img src="{{url_for('static', filename='imagenes/ig.png')}}">
        </div>
        <div class="footer-text">
            <p>Medellín En Detalle</p>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>
